* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    color: #000;
}


.header-logo_name{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    
}
/*-------------------------------------------------Menu---------------------------------------------------*/

    
    
#btn {
    position: fixed;
    z-index: 5;
    top: 15px;
    left: 15px;
    cursor: pointer;
    transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}


#btn div {
    width: 35px;
    height: 2px;
    margin-bottom: 8px;
    background-color: #040404;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms;
}
#btn.active {
    left: 230px;
}
#btn.active div {
    background-color: #343838;
}
#btn.active #top {
    transform: translateY(10px) rotate(-135deg);
}
#btn.active #middle {
    opacity: 0;
    transform: rotate(135deg);
}
#btn.active #bottom {
    transform: translateY(-10px) rotate(-45deg);
}
#box {
    position: fixed;
    z-index: 4;
    overflow: auto;
    top: 0px;
    left: -275px;
    width: 275px;
    opacity: 0;
    padding: 20px 0px;
    height: 100%;
    background-color: #f6f6f6;
    color: #343838;
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
#box.active {
    left: 0px;
    opacity: 1;
}
#items {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#items a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;

}
#items .item {
    position: relative;
    cursor: pointer;
    font-size: 2em;
    padding: 15px 30px;
    transition: all 250ms;
}
#items .item:hover {
    padding: 15px 45px;
    background-color: rgba(52, 56, 56, 0.2);
}
#btn, #btn * {
    will-change: transform;
}
#box {
    will-change: transform, opacity;
}

/*-----------------------------------------------*/























.alert{
    text-align: center;
}






    /*------------------Media-------------------*/

    @media (max-width: 424px) {
        .header-logo_name{
            text-align: center;
            font-size: 33px;
            font-weight: 800;
            margin-top: 5px;
            
        }
    }
    @media screen and (max-width: 425px){
        #box {
            position: fixed;
            z-index: 4;
            overflow: auto;
            top: 0px;
            left: -395px;
            width: 100%;
            opacity: 0;
            padding: 20px 0px;
            height: 100%;
            background-color: #f6f6f6;
            color: #343838;
            transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
        }
        #btn.active{
            left: 15px;
        }
    }
    @media screen and (max-width: 375px){
        #box {
            position: fixed;
            z-index: 4;
            overflow: auto;
            top: 0px;
            left: -275px;
            width: 100%;
            opacity: 0;
            padding: 20px 0px;
            height: 100%;
            background-color: #f6f6f6;
            color: #343838;
            transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
        }
        #btn.active{
            left: 15px;
        }
    }
    @media screen and (max-width: 320px){
        #box {
            position: fixed;
            z-index: 4;
            overflow: auto;
            top: 0px;
            left: -275px;
            width: 100%;
            opacity: 0;
            padding: 20px 0px;
            height: 100%;
            background-color: #f6f6f6;
            color: #343838;
            transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
        }
        #btn.active{
            left: 15px;
        }
    }





    /*-------------------------------------*/